In [1]:
from cot import Collection
from cot.stats import evaluation_as_table

In [2]:
ts = Collection.load_thoughtsource_100()

[nltk_data] Downloading package punkt to /home/kon/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [6]:
eval = ts.evaluate()
df = evaluation_as_table(eval)
df

/home/kon/work/ThoughtSource/libs/cot/cot/stats.py:406: PerformanceWarning: indexing past lexsort depth may impact performance.
  df.loc[dataset, (instruction + "_" + cot_trigger, model)] = v

In [4]:
coll = Collection(["commonsense_qa", "med_qa", "medmc_qa", "open_book_qa", "strategy_qa", "worldtree"], verbose=False)
coll

Loading commonsense_qa...
Loading med_qa...
Loading medmc_qa...
Loading open_book_qa...
Loading strategy_qa...
Loading worldtree...

| Name           |   Train | Valid   |   Test |
|----------------|---------|---------|--------|
| commonsense_qa |    9741 | 1221    |   1140 |
| med_qa         |   10178 | 1272    |   1273 |
| medmc_qa       |  182822 | 4183    |   6150 |
| open_book_qa   |    4957 | 500     |    500 |
| strategy_qa    |    2290 | -       |    490 |
| worldtree      |    2207 | 496     |   1664 |

Not loaded: ['aqua', 'asdiv', 'entailment_bank', 'gsm8k', 'mawps', 'pubmed_qa', 'qed', 'svamp']

### Confidence correlation, p vlaue computation

In [21]:
from scipy.stats import ttest_ind

In [53]:
len = 100
accuracy_increase = 0.03
arr1 = np.zeros(len)
arr1[0:int(len*0.7)] = 1
arr2 = np.zeros(len)
arr2[0:int(len*(0.7+accuracy_increase))] = 1
ttest_ind(arr1, arr2).pvalue

0.6404205047932837

In [63]:
len = 1800
accuracy_increase = 0.03
arr1 = np.zeros(len)
arr1[0:int(len*0.7)] = 1
arr2 = np.zeros(len)
arr2[0:int(len*(0.7+accuracy_increase))] = 1
ttest_ind(arr1, arr2).pvalue

0.04619672569754267

### Krippendorff's alpha

In [3]:
import krippendorff
from sklearn import metrics
import numpy as np

In [4]:
reliability_data_str = (
    "*    *    *    *    *    3    4    1    2    1    1    3    3    *    3",  # coder A
    "1    *    2    1    3    3    4    3    *    *    *    *    *    *    *",  # coder B
    "*    *    2    1    3    4    4    *    2    1    1    3    3    *    4",  # coder C
)
print('\n'.join(reliability_data_str))
print('')

reliability_data = [[np.nan if v == '*' else int(v) for v in coder.split()] for coder in reliability_data_str]
print("reliability_data: ", reliability_data)

print("Krippendorff's alpha for nominal metric: ", krippendorff.alpha(reliability_data=reliability_data,
                                                                        level_of_measurement='nominal'))
print("Krippendorff's alpha for interval metric: ", krippendorff.alpha(reliability_data=reliability_data))

*    *    *    *    *    3    4    1    2    1    1    3    3    *    3
1    *    2    1    3    3    4    3    *    *    *    *    *    *    *
*    *    2    1    3    4    4    *    2    1    1    3    3    *    4

reliability_data:  [[nan, nan, nan, nan, nan, 3, 4, 1, 2, 1, 1, 3, 3, nan, 3], [1, nan, 2, 1, 3, 3, 4, 3, nan, nan, nan, nan, nan, nan, nan], [nan, nan, 2, 1, 3, 4, 4, nan, 2, 1, 1, 3, 3, nan, 4]]
Krippendorff's alpha for nominal metric:  0.691358024691358
Krippendorff's alpha for interval metric:  0.8108448928121059

Tryout with more data, Krippendorff's alpha gets smaller ???

In [19]:
reliability_data_str = (
    "*    *    *    *    *    3    4    1    2    1    1    3    3    *    3",  # coder A
    "1    *    2    1    3    3    4    3    *    *    *    *    *    *    *",  # coder B
    "*    *    2    1    3    4    4    *    2    1    1    3    3    *    4",  # coder C
)
print('\n'.join(reliability_data_str))
print('')

reliability_data = [[np.nan if v == '*' else int(v) for v in coder.split()]*3 for coder in reliability_data_str]
print("reliability_data: ", reliability_data)

print("Krippendorff's alpha for nominal metric: ", krippendorff.alpha(reliability_data=reliability_data,
                                                                        level_of_measurement='nominal'))
print("Krippendorff's alpha for interval metric: ", krippendorff.alpha(reliability_data=reliability_data))

*    *    *    *    *    3    4    1    2    1    1    3    3    *    3
1    *    2    1    3    3    4    3    *    *    *    *    *    *    *
*    *    2    1    3    4    4    *    2    1    1    3    3    *    4

reliability_data:  [[nan, nan, nan, nan, nan, 3, 4, 1, 2, 1, 1, 3, 3, nan, 3, nan, nan, nan, nan, nan, 3, 4, 1, 2, 1, 1, 3, 3, nan, 3, nan, nan, nan, nan, nan, 3, 4, 1, 2, 1, 1, 3, 3, nan, 3], [1, nan, 2, 1, 3, 3, 4, 3, nan, nan, nan, nan, nan, nan, nan, 1, nan, 2, 1, 3, 3, 4, 3, nan, nan, nan, nan, nan, nan, nan, 1, nan, 2, 1, 3, 3, 4, 3, nan, nan, nan, nan, nan, nan, nan], [nan, nan, 2, 1, 3, 4, 4, nan, 2, 1, 1, 3, 3, nan, 4, nan, nan, 2, 1, 3, 4, 4, nan, 2, 1, 1, 3, 3, nan, 4, nan, nan, 2, 1, 3, 4, 4, nan, 2, 1, 1, 3, 3, nan, 4]]
Krippendorff's alpha for nominal metric:  0.6831275720164609
Krippendorff's alpha for interval metric:  0.8058007566204288

In [6]:
arr1 = np.array([1,1,1,2,2,2,3,3,3,4,4,4,5,5,5,6,7,8])
arr2 = np.array([1,1,1,2,2,2,3,3,3,4,4,4,5,5,5,6,7,8])
reliability_data = np.array([arr1, arr2])

In [7]:
print("Krippendorff's alpha for nominal metric: ", krippendorff.alpha(reliability_data=reliability_data,
                                                                        level_of_measurement='nominal'))
print("Cohen's kappa: ", metrics.cohen_kappa_score(arr1, arr2))

Krippendorff's alpha for nominal metric:  1.0
Cohen's kappa:  1.0

In [8]:
arr1 = np.array([1,1,1,2,2,2,3,3,3,4,4,4,5,5,5,1,2,3])
arr2 = np.array([1,1,2,2,2,3,3,3,4,4,4,5,5,5,5,2,3,4])
reliability_data = np.array([arr1, arr2])

In [9]:
print("Krippendorff's alpha for nominal metric: ", krippendorff.alpha(reliability_data=reliability_data,
                                                                        level_of_measurement='nominal'))
print("Cohen's kappa: ", metrics.cohen_kappa_score(arr1, arr2))

Krippendorff's alpha for nominal metric:  0.5261121856866537
Cohen's kappa:  0.5153846153846153

More classes makes better alpha and kappa:

In [10]:
arr1 = np.array([1,1,1,2,2,2,3,3,3,4,4,4,5,5,5,6,7,8])
arr2 = np.array([1,1,2,2,2,3,3,3,4,4,4,5,5,5,5,9,10,11])
reliability_data = np.array([arr1, arr2])

In [11]:
print("Krippendorff's alpha for nominal metric: ", krippendorff.alpha(reliability_data=reliability_data,
                                                                        level_of_measurement='nominal'))
print("Cohen's kappa: ", metrics.cohen_kappa_score(arr1, arr2))

Krippendorff's alpha for nominal metric:  0.5577617328519856
Cohen's kappa:  0.5483870967741935

More data let's Krippendorf's alpha approach Cohen's kappa:

In [12]:
arr1 = np.array([1,1,1,2,2,2,3,3,3,4,4,4,5,5,5,6,7,8])
arr2 = np.array([1,1,2,2,2,3,3,3,4,4,4,5,5,5,5,9,10,11])
arr1 = np.concatenate([arr1]*2)
arr2 = np.concatenate([arr2]*2)
reliability_data = np.array([arr1, arr2])

In [13]:
print("Krippendorff's alpha for nominal metric: ", krippendorff.alpha(reliability_data=reliability_data,
                                                                        level_of_measurement='nominal'))
print("Cohen's kappa: ", metrics.cohen_kappa_score(arr1, arr2))

Krippendorff's alpha for nominal metric:  0.5514440433212996
Cohen's kappa:  0.5483870967741935

Even more data let's Krippendorf's alpha again differ from Cohen's kappa to the other side:

In [14]:
arr1 = np.array([1,1,1,2,2,2,3,3,3,4,4,4,5,5,5,6,7,8])
arr2 = np.array([1,1,2,2,2,3,3,3,4,4,4,5,5,5,5,9,10,11])
arr1 = np.concatenate([arr1]*100)
arr2 = np.concatenate([arr2]*100)
reliability_data = np.array([arr1, arr2])

In [15]:
print("Krippendorff's alpha for nominal metric: ", krippendorff.alpha(reliability_data=reliability_data,
                                                                        level_of_measurement='nominal'))
print("Cohen's kappa: ", metrics.cohen_kappa_score(arr1, arr2))

Krippendorff's alpha for nominal metric:  0.5452527075812275
Cohen's kappa:  0.5483870967741935

In [16]:
arr1 = np.array([1,1,1,2,2,2,3,3,3,4,4,4,5,5,5,6,7,8])
arr2 = np.array([1,1,2,2,2,3,3,3,4,4,4,5,5,5,5,9,10,11])
arr1 = np.concatenate([arr1]*10000)
arr2 = np.concatenate([arr2]*10000)
reliability_data = np.array([arr1, arr2])

In [17]:
print("Krippendorff's alpha for nominal metric: ", krippendorff.alpha(reliability_data=reliability_data,
                                                                        level_of_measurement='nominal'))
print("Cohen's kappa: ", metrics.cohen_kappa_score(arr1, arr2))

Krippendorff's alpha for nominal metric:  0.5451276173285197
Cohen's kappa:  0.5483870967741935

### Bootstrapping tryouts

I will bootstrap confidence intervals for accuracy. Once for 70/100 and once for 700/1000. 
Then check if that matches the confidence intervals from the binomial distribution.
Should be: 

1.96 * sqrt( (0.7 * (1 - 0.7)) / 100) = 0.089

1.96 * sqrt( (0.7 * (1 - 0.7)) / 1000) = 0.028

In [18]:
import numpy as np
from scipy.stats import binom

def bootstrap_ci(successes, trials, alpha=0.05, n_bootstrap_samples=1000):
    sample = np.array([1] * successes + [0] * (trials - successes))
    bootstrap_samples = np.random.choice(sample, (n_bootstrap_samples, trials), replace=True)
    bootstrap_means = np.mean(bootstrap_samples, axis=1)
    ci_lower, ci_upper = np.percentile(bootstrap_means, [100 * alpha / 2, 100 * (1 - alpha / 2)])
    return ci_lower, ci_upper

def binomial_ci(successes, trials, alpha=0.05):
    p = successes / trials
    z = abs(binom.ppf(alpha / 2, trials, p) - successes) / trials
    return p - z, p + z

successes1, trials1 = 70, 100
successes2, trials2 = 700, 1000

bootstrap_ci1 = bootstrap_ci(successes1, trials1)
binomial_ci1 = binomial_ci(successes1, trials1)
print(f"Bootstrap CI (70/100): {bootstrap_ci1}")
print(f"Binomial CI (70/100): {binomial_ci1}")

bootstrap_ci2 = bootstrap_ci(successes2, trials2)
binomial_ci2 = binomial_ci(successes2, trials2)
print(f"Bootstrap CI (700/1000): {bootstrap_ci2}")
print(f"Binomial CI (700/1000): {binomial_ci2}")

# Calculating the margin of error for the binomial distribution
margin_of_error_100 = 1.96 * np.sqrt((0.7 * (1 - 0.7)) / 100)
margin_of_error_1000 = 1.96 * np.sqrt((0.7 * (1 - 0.7)) / 1000)
print(f"Margin of error (100): {margin_of_error_100}")
print(f"Margin of error (1000): {margin_of_error_1000}")

Bootstrap CI (70/100): (0.61, 0.78)
Binomial CI (70/100): (0.61, 0.7899999999999999)
Bootstrap CI (700/1000): (0.672975, 0.728)
Binomial CI (700/1000): (0.6709999999999999, 0.729)
Margin of error (100): 0.08981848362113448
Margin of error (1000): 0.0284030984225313