In [1]:
from cot import Collection
from cot.stats import evaluation_as_table
from cot.stats import highlight_max

## filtering datasets

First selecting the generated cots, then filter samples for samples with generated cots left.

In [2]:
coll = Collection.load_thoughtsource_100()

[nltk_data] Downloading package punkt to /home/kon/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [3]:
coll.select_generated_cots(
    author=
        'thoughtsource',
    # model=[
    #     # 'text-davinci-002',
    #     # 'text-davinci-003',
    #     # 'gpt-3.5-turbo',
    #     'gpt-4',
    #     # 'flan-T5-xxl',
    # ],
    # cot_trigger=[
    #     None, 
    #     'zhou-01'
    # ],
    # instruction=[
    #     None
    # ]
    # answer= False
    )

In [4]:
# length_table = len(df.columns)
# coll.select_generated_cots(answer=False)
# coll = coll.filter(lambda x: len(x["generated_cot"])==length_table)
# coll

## simple tables

In [5]:
eval = coll.evaluate()
df = evaluation_as_table(eval)
df

/home/kon/CoT/ThoughtSource/venv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3194: PerformanceWarning: indexing past lexsort depth may impact performance.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
coll.select_generated_cots(reverse = True, model="command-xlarge-nightly")

In [8]:
eval = coll.evaluate()
df = evaluation_as_table(eval)
df

/home/kon/CoT/ThoughtSource/venv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3194: PerformanceWarning: indexing past lexsort depth may impact performance.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
coll.number_generated_cots()

commonsense_qa {27}
med_qa {27}
medmc_qa {27}
open_book_qa {27}
strategy_qa {27}
worldtree {27}

In [49]:
df = df.data

In [ ]:
df = df["None_None"]

In [41]:
df = df[['text-davinci-002', 'text-davinci-003', 'gpt-3.5-turbo', 'gpt-4']]

In [50]:
# make the biggest value bold
df.style.apply(highlight_max, axis=1).format(precision=2)

## making nice tables

In [ ]:
eval = coll.evaluate()
df = evaluation_as_table(eval)
df

In [ ]:
df.to_excel("thoughtsource_100_T5.xlsx")

In [ ]:
import pandas as pd

In [ ]:
# read excel file and convert to dataframe without index
df = pd.read_excel("thoughtsource_100.xlsx", index_col=0)

In [ ]:
df

In [ ]:
# make column improvement as percentage
df['Improvement'] = df['Improvement'].apply(lambda x: '+' + str(x) + '%')

In [ ]:
# make one column bold
df.style.set_properties(**{'font-weight': 'bold'}, subset=['GPT-4']).format(precision=2)

In [ ]:
df.to_html("ChatGpt-vs-gpt4")

In [ ]:
# plot the dataframe as a df
fig, ax = plt.subplots(figsize=(10, 5))
ax.axis('off')
ax.axis('tight')
ax.df(cellText=df.values, colLabels=df.columns, loc='center')

# save the plot as an image
plt.savefig('dataframe.png')

In [ ]:
# read excel file and convert to dataframe without index
df = pd.read_excel("thoughtsource_100_T5.xlsx", index_col=0)

In [ ]:
df

In [ ]:
# make the biggest value bold
df.style.apply(highlight_max, axis=1).format(precision=2)