In [1]:
from cot import Collection

In [12]:
collection_all_lievin = Collection("all", load_pregenerated_cots=["lievin", "lievin_100"], verbose=False)

Loading aqua...
Loading asdiv...
Loading commonsense_qa...
Loading entailment_bank...
Loading gsm8k...
Loading mawps...
Loading med_qa...
Loading medmc_qa...
Loading open_book_qa...
Loading pubmed_qa...
Loading qed...
Loading strategy_qa...
Loading svamp...
Loading worldtree...

In [13]:
collection_all_lievin

| Name            |   Train | Valid   | Test   |
|-----------------|---------|---------|--------|
| aqua            |   97467 | 254     | 254    |
| asdiv           |    1218 | -       | -      |
| commonsense_qa  |    9741 | 1221    | 1140   |
| entailment_bank |    1313 | 187     | 340    |
| gsm8k           |    7473 | -       | 1319   |
| mawps           |    1921 | -       | -      |
| med_qa          |   10178 | 1272    | 1273   |
| medmc_qa        |  182822 | 4183    | 6150   |
| open_book_qa    |    4957 | 500     | 500    |
| pubmed_qa       |     500 | -       | 500    |
| qed             |    5154 | 1021    | -      |
| strategy_qa     |    2290 | -       | 490    |
| svamp           |    1000 | -       | -      |
| worldtree       |    2207 | 496     | 1664   |

Not loaded: []

In [14]:
coll_ts_huggingface = Collection.from_json("./thoughtsource_data/thoughtsource_100_huggingface.json")

In [15]:
coll_ts_openai_cohere = Collection.from_json("./thoughtsource_data/thoughtsource_100_openai_cohere.json")

In [ ]:
coll_ts_huggingface_openai_cohere = coll_ts_huggingface.merge(coll_ts_openai_cohere)

In [ ]:
collection_paper1 = collection_all_lievin.merge(coll_ts_huggingface_openai_cohere)

In [ ]:
collection_paper1.dump("collection_paper1.json")

In [19]:
from cot.stats import display_stats_tables

In [20]:
table_num_examples, table_nan, table_types = display_stats_tables(collection_paper1)

Output()

               Name   Train Valid  Test
0              aqua   97467   254   254
1             asdiv    1218     -     -
2    commonsense_qa    9741  1221  1140
3   entailment_bank    1313   187   340
4             gsm8k    7473     -  1319
5             mawps    1921     -     -
6            med_qa   10178  1272  1273
7          medmc_qa  182822  4183  6150
8      open_book_qa    4957   500   500
9         pubmed_qa     500     -   500
10              qed    5154  1021     -
11      strategy_qa    2290     -   490
12            svamp    1000     -     -
13        worldtree    2207   496  1664

,dataset,question,choices,cot,generated_cot,question_with_generated_cot,answer
0,aqua,97975,97975,97975,0,0,97975
1,asdiv,1218,0,1218,0,0,1218
2,commonsense_qa,12102,12102,10962,600,100,12102
3,entailment_bank,1840,0,1840,0,0,1840
4,gsm8k,8792,0,8792,0,0,8792
5,mawps,1921,0,1921,0,0,1921
6,med_qa,12723,12723,0,134260,1273,12723
7,medmc_qa,193155,193155,161558,105587,1000,193155
8,open_book_qa,5957,5957,5957,600,100,5957
9,pubmed_qa,1000,1000,1000,2500,500,1000
10,qed,6175,0,6175,0,0,6175
11,strategy_qa,2780,0,2290,600,100,2780
12,svamp,1000,0,1000,0,0,1000
13,worldtree,4367,4367,4365,601,100,4367

,type,number samples,datasets
0,multiplechoice,327279,"{aqua, pubmed_qa, commonsense_qa, med_qa, medm..."
1,number,12931,"{svamp, gsm8k, mawps, asdiv}"
2,text,1840,{entailment_bank}
3,collection,6175,{qed}
4,bool,2780,{strategy_qa}